* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --background-color: 238, 238, 238;
  --font-color: 33, 47, 61;
  --border-color: 98, 114, 84;
  --item-color: 118, 136, 91;
  --link-color: 98, 114, 84;
  --bar-color: 118, 136, 91;
  --font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu;
}

[data-theme='dark'] {
  --font-color: 0, 0, 61;
  --link-color: 0, 0, 61;
}

.container {
  max-width: 1200px;
  margin: auto;
}
